/**--------------------------------------------
 *               STYLE HEADER
 *---------------------------------------------**/

header {
	display: flex;
	flex-direction: column;
	align-items:center;
}
header img{
	width: 100vw;
	border-bottom-left-radius: 100px;
	border-bottom-right-radius: 100px;

}
main{
	/* height: 80vh; */
	/* background-color: blue; */
}