/**----------------------
 *    FORMATO  ETIQUETAS 
 *------------------------**/
body {
	font-family: var(--font-family-parrafo);
	color: var(--color-global);
}
ul {
	list-style: none;
	padding: 0;
}
h1 {
	color: var(--color-h1);
	font-weight: var(--font-weight-400);
}
h2 {
	font-weight: var(--font-weight-700);
	letter-spacing: 1px;
}

